<?xml version="1.0" encoding="UTF-8"?>
<config time="Mon Oct 03 17:06:03 AEDT 2016">
	<Browser>chrome</Browser>
	<!-- <BrowserBinary>{user_home}\AppData\Local\Chromium\Application\chrome.exe</BrowserBinary> -->
	<BrowserBinary>C:\Users\C70032\AppData\Local\Chromium\Application\chrome.exe</BrowserBinary>
	<Headless>true</Headless>
	<Url>https://ibankingsit.stgeorge.com.au/ibank/</Url> 
	<ScreenShotOnFail>true</ScreenShotOnFail>
	<ScreenShotOnPass>false</ScreenShotOnPass>
	<ScreenShotPath>D:\CompassTestAutomation\TestReport\Extent\IBank\ScreenShots</ScreenShotPath>
	<TakeFullScreenShot>false</TakeFullScreenShot>
	<TestDataFile>TestData_IBank_SIT.xlsx</TestDataFile>
	<ExtentReportFile>D:\CompassTestAutomation\TestReport\Extent\IBank\IBank_ExtentReport_SIT.html</ExtentReportFile>
	<FeatureOrderDir>D:\CompassTestAutomation\FeatureOrder_IBank</FeatureOrderDir>
	<AppendExistingReport>false</AppendExistingReport>
	<TestSummaryDoc>D:\CompassTestAutomation\TestReport\Extent\IBank\TestSummary_IBank_SIT.docx</TestSummaryDoc>
	<ExitOnFail>false</ExitOnFail>
	<ElementWait>10</ElementWait>
	 <CIServer>virntapd361</CIServer>
</config>
